.button {
}

.disabled {
}

.secondary {
    background-color: #3db64d;
}

.default {
    background-color: blue;
}

.red {
    background-color: red;
}

.default:hover {
    background-color: blanchedalmond;
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
    background-color: lightgray;
}
